:host {
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 13px;
  overflow: hidden;
  max-width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.settings {
  position: fixed;
  bottom: 40px;
  right: 60px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.settings__item {
  width: 100%;
  display: block;
}
.settings__item-input {
  width: 100%;
}

$directions: (
  top: 1,
  right: 2,
  bottom: 3,
  left: 4
);

$duration: 1000ms;

@each $direction, $index in $directions {
  @keyframes spinner-#{$direction} {
    to {
      border-#{$direction}-width: calc(var(--border-width, 0));
    }
  }
}

@keyframes spinner-hover {
  to {
    transform: scale(1.6, 1.6);
  }
}

.spinner-outer {
  box-sizing: var(--box-sizing, content-box);
  display: block;
  position: relative;
  justify-self: center;
  align-self: center;
  height: calc(var(--spinner-size, 50px));
  width: calc(var(--spinner-size, 50px));
  border: 0px solid #3484a2;
  border-radius: var(--border-radius, 50%);
  animation:
    spinner-top var(--anim-duration, $duration) var(--anim-delay-top, $duration) infinite alternate-reverse cubic-bezier(0.165, 0.84, 0.11, 1),
    spinner-right var(--anim-duration, $duration) var(--anim-delay-right, $duration) infinite alternate-reverse cubic-bezier(0.165, 0.84, 0.11, 1),
    spinner-bottom var(--anim-duration, $duration) var(--anim-delay-bottom, $duration) infinite alternate-reverse cubic-bezier(0.165, 0.84, 0.11, 1),
    spinner-left var(--anim-duration, $duration) var(--anim-delay-left, $duration) infinite alternate-reverse cubic-bezier(0.165, 0.84, 0.11, 1);

  &::before {
    content: '';
    opacity: 0;
    animation: spinner-hover var(--anim-duration, $duration) infinite alternate-reverse cubic-bezier(0.165, 0.1, 0, 0.1);
  }

  &:hover {
    &::before {
      position: absolute;
      width: calc(var(--spinner-size, 50px));
      height: calc(var(--spinner-size, 50px));
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      top: -var(--spinner-size, 50px);
      left: -var(--spinner-size, 50px);
      background: #3484a2;
      opacity: .4;

      opacity: 0;
    }
  }
}
